$main-orange:#EA6045;
$main-green:rgba(28, 74, 90, 1);
$main-brown:rgb(65, 65, 65);
$main-fresh:rgb(204, 223, 203);

$bg-color:rgba(28, 74, 90, 1);
// $h1-font:5.8vmin;
// $h2-font:5.2vmin;
// $h3-font:4.3vmin;
// $h4-font:4vmin;
// $h5-font:3.6vmin;
// $h6-font:3.2vmin;
// $p-font:3vmin;
// $a-font:2.8vmin;
// $li-font:2.8vmin;
// $button-font:2.8vmin;
// $i-font:2vmin ;


 $h1-font:1.8rem;
 $h2-font:1.6rem;
 $h3-font:1.5rem;
 $h4-font:1.4rem;
 $h5-font:1.2rem;
 $h6-font:1.1rem;
 $a-font:1rem;
 $li-font:1rem;
 $button-font:1rem;
 $i-font:1rem ;
 $span-font:1rem ;
  
$p-font:1rem;
:root{
    font-size: 20px;
}